[*]
end_of_line                             = crlf
csharp_style_var_elsewhere              = true : suggestion
dotnet_style_qualification_for_property = true : suggestion
dotnet_style_object_initializer         = true : suggestion
csharp_style_var_for_built_in_types     = true : suggestion
csharp_style_throw_expression           = true : warning

[*.xml]
indent_style = space