<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNet.Contracts" version="1.10.20606.1" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="StackifyLib" version="1.25.4" targetFramework="net461" />
</packages>